<div class="container devise-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h2 style="text-align:center;">Editer le devis</h2>
      <%= simple_form_for(@quote) do |f| %>
        <div class="form-group">
          <%= f.label :company_name %>
          <%= f.text_field :company_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :price %>
          <%= f.number_field :price, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :date_start %>
          <%= f.date_field :date_start, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :date_end %>
          <%= f.date_field :date_end, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :meeting_id %>
          <%= f.collection_select :meeting_id, Meeting.all, :id, :title, prompt: "Sélectionnez une réunion", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "Créer le devis", class: "btn btn-flat" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
