<% if user_signed_in? && (current_user.vip? || current_user.user? || current_user.admin?) %>
<div class="container" data-controller="quote-view">
  <div class="mt-3">
  <h3>Liste des devis</h3>
    <div class="btn-group mt-1" role="group">
    <button type="button" class="btn btn-flat mx-2" data-action="quote-view#toggleCardView"><i class="fa-solid fa-list fa-xl me-3"></i>Vue en liste</button>
    <button type="button" class="btn btn-flat mx-2" data-action="quote-view#toggleTableView"><i class="fa-solid fa-table fa-lg me-3"></i>Vue en tableau</button>
  </div>



  <div class="row">
    <% @quotes.each do |quote| %>
      <div class="col-md-12 mb-12 card-view " data-quote-view-target="cardView">
        <div class="card">
          <div class="card-header"><%= quote.meeting.title%>, <%= quote.company_name %>
          </div>
          <div class="card-body">
            <p class="card-text">Syndic : <%= quote.price %></p>
            <p class="card-text"><%= quote.description %></p>
            <p><%= quote.description %></p>
            <p><%= quote.price %></p>
            <p><%= quote.date_start %></p>
            <p><%= quote.date_end %></p>
            <hr>
            <%= link_to 'Voir le devis', quote, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div class="table-view" style="display: none;" data-quote-view-target="tableView">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Réunion</th>
      <th scope="col">Entreprise</th>
      <th scope="col">prix</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <% @quotes.each_with_index do |quote, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= quote.meeting_id %></td>
        <td><%= quote.company_name %></td>
        <td><%= quote.price %></td>
        <td><%= link_to "Delete",quote_path(quote), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<%# proposer un affichage différent en fonction du choix de l'utilisateur %>
