
<div class="container">
  <h1>Liste des devis</h1>
  <div class="row">
    <% @quotes.each do |quote| %>
      <div class="col-md-12 mb-12">
        <div class="card">
          <div class="card-header"><%= quote.meeting.title%>, <%= quote.company_name %>
          </div>
          <div class="card-body">
            <p class="card-text">Syndic : <%= quote.price %></p>
            <p class="card-text"><%= quote.description %></p>
            <p><%= quote.description %></p>
            <p><%= quote.price %></p>
            <p><%= quote.date_start %></p>
            <p><%= quote.date_end %></p>
            <%= link_to 'Voir le devis', quote, class: 'btn btn-primary' %>
            <hr>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
