<h1>Quotes#index</h1>
<p>Find me in app/views/quotes/index.html.erb</p>

<% @quotes.each do |quote| %>
  <p><%= quote.company_name %></p>
  <p><%= quote.description %></p>
  <p><%= quote.price %></p>
  <p><%= quote.date_start %></p>
  <p><%= quote.date_end %></p>
  <p><%= quote.meeting.title%></p>
  <p><%= link_to 'Show', quotes %></p>

  <% end %>
