<div class="container">
  <h1>Show de la quote</h1>
  <div class="row">
    <div class="col-md-12 mb-12">
      <div class="card">
        <div class="card-header"><%= @quote.meeting.title%>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @quote.company_name %></p>
          <p class="card-text"><%= @quote.description %></p>
          <p><%= @quote.price %></p>
          <p><%= @quote.date_start %></p>
          <p><%= @quote.date_end %></p>
          <p><%= @quote.meeting.title%></p>
          <hr>
          <%= link_to 'Voir les devis', quotes_path, class: 'btn btn-primary' %>
          <%= link_to 'Editer la réunion', edit_quote_path, class: 'btn btn-primary' %>
          <%= link_to "Delete",quote_path(@quote), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

        </div>
      </div>
    </div>
  </div>
</div>
