<h1>Quotes#show</h1>
<p>Find me in app/views/quotes/show.html.erb</p>

<h1>Show quote</h1>

  <p><%= @quote.company_name %></p>
  <p><%= @quote.description %></p>
  <p><%= @quote.price %></p>
  <p><%= @quote.date_start %></p>
  <p><%= @quote.date_end %></p>
  <p><%= @quote.meeting.title%></p>

