<div class="container">
<%= link_to quotes_path, class: 'btn btn-back' do %>
  <i class="fa-solid fa-arrow-left fa-xs"></i>
  Retour à l'index des devis
<% end %>

  <div class="row">
    <div class="col-md-12 mb-12">
      <div class="card">
        <div class="card-header"><%= @quote.meeting.title%>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @quote.company_name %></p>
          <p class="card-text"><%= @quote.description %></p>
          <p><%= @quote.price %></p>
          <p><%= @quote.date_start %></p>
          <p><%= @quote.date_end %></p>
          <p><%= @quote.meeting.title%></p>
          <hr>
          <%= link_to 'Voir les devis', quotes_path, class: 'btn btn-flat' %>
          <%= link_to edit_quote_path(@quote) do %>
              <i class="fa-solid fa-edit fa-lg circle-icon-edit mx-3" style="color: #fd7e14;"></i>
            <% end %>
          <%= link_to quote_path(@quote), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-trash fa-lg circle-icon-delete mx-3" style="color: #e7081f;"></i>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
