<% if user_signed_in? && (current_user.vip? || current_user.user? || current_user.admin?) %>
<div class="container" data-controller="meeting-view">
  <div class="mt-3">
  <h3>Liste des réunions</h3>
    <div class="btn-group mt-1" role="group">
      <button type="button" class="btn btn-flat mx-2" data-action="meeting-view#toggleCardView"><i class="fa-solid fa-list fa-xl me-3"></i></i>Vue en liste</button>
      <button type="button" class="btn btn-flat mx-2" data-action="meeting-view#toggleTableView"><i class="fa-solid fa-table fa-lg me-3"></i>Vue en tableau</button>
    </div>
  </div>



  <div class="row">
    <% @meetings.each do |meeting| %>
      <div class="col-md-12 mb-12 card-view " data-meeting-view-target="cardView">
        <div class="card">
          <div class="card-header"><%= meeting.title %>, <%= meeting.date %>
          </div>
          <div class="card-body">
            <p class="card-text">Syndic : <%= meeting.syndic.name %></p>
            <p class="card-text"><%= meeting.description %></p>
            <%= link_to 'Voir la réunion', meeting, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="table-view" style="display: none;" data-meeting-view-target="tableView">
      <table class="table">
        <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Lien</th>
      <th scope="col">Date</th>
      <th scope="col">Syndic</th>
      <th scope="col">Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each_with_index do |meeting, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= meeting.title %></td>
        <td><%= link_to "Lien", meeting %></td><!-- Ajout du lien vers la page "show" -->
        <td><%= meeting.date %></td>
        <td><%= meeting.syndic.name %></td>
        <td style="text-align: center; vertical-align: middle;">
          <%= link_to meeting_path(meeting), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash fa-lg circle-icon" style="color: #e7081f;"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>
