<div class="container">
  <h1>Liste des réunions</h1>
  <div class="row">
    <% @meetings.each do |meeting| %>
      <div class="col-md-12 mb-12">
        <div class="card">
          <div class="card-header"><%= meeting.title %>, <%= meeting.date %>
          </div>
          <div class="card-body">
            <p class="card-text">Syndic : <%= meeting.syndic.name %></p>
            <p class="card-text"><%= meeting.description %></p>
            <%= link_to 'Voir la réunion', meeting, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
