
<div class="container devise-container">
  <div class="row justify-content-center">
    <h1>Show meeting</h1>
    <p><%= @meeting.title %></p>
    <p><%= @meeting.description %></p>
    <p><%= @meeting.date %></p>
    <p><%= @meeting.syndic.name %></p>
    <h1>Commentaires</h1>
    <p><%= @meeting.comments.count %></p>
    <% @meeting.comments.each do |comment| %>
      <p><%= comment.user.first_name %></p>
      <p><%= comment.content %></p>
    <% end %>
    <%= simple_form_for [@meeting, @comment] do |f| %>
      <%= f.input :content, as: :text, label: "écrivez votre commentaire" %>
      <%= f.button :submit, value: "Envoyer" %>
    <% end %>
  </div>
</div>


  go back to meetings index page <%= link_to 'Back', meetings_path %>
