<div class="container">

<button class="btn btn-back" onclick="window.history.back()">
  <i class="fa-solid fa-arrow-left fa-xs"></i>
  Retour
</button>

  <div class="row">
    <div class="col-md-12 mb-12">
      <div class="card">
        <div class="card-header"><%= @meeting.title %>, <%= @meeting.date %>
        </div>
        <div class="card-body">
          <p class="card-text">Syndic : <%= @meeting.syndic.name %></p>
          <p class="card-text"><%= @meeting.description %></p>
          <hr>
          <h2>Les devis liés à cette réunion :</h2>
          <ul>
            <% @quotes.each do |quote| %>
              <li>
                <strong>Entreprise : <%= quote.company_name %></strong><br>
                  <div class="text-right">
                  </div>
                Description : <%= quote.description %><br>
                Prix : <%= quote.price %> €<br>
                    <%= link_to quote_path(quote), class: 'btn btn-back' do %><br>
                      <i class="fa-solid fa-arrow-right fa-sm"></i>
                      Voir le devis
                    <% end %>
                <!-- Autres informations sur le devis -->
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
