<div class="container">

<%= link_to meetings_path, class: 'btn btn-back' do %>
  <i class="fa-solid fa-arrow-left fa-xs"></i>
  Retour à l'index des réunions
<% end %>

  <div class="row">
    <div class="col-md-12 mb-12">
      <div class="card">
        <div class="card-header"><%= @meeting.title %>, <%= @meeting.date %>
        </div>
        <div class="card-body">
          <p class="card-text">Syndic : <%= @meeting.syndic.name %></p>
          <p class="card-text"><%= @meeting.description %></p>
          <hr>
          <h2>Les devis liés à cette réunion :</h2>
          <ul>
            <% @quotes.each do |quote| %>
              <li>
                <strong>Entreprise : <%= quote.company_name %></strong><br>
                Description : <%= quote.description %><br>
                Prix : <%= quote.price %> €<br>
                <!-- Autres informations sur le devis -->
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
