<div class="container form-container">
  <div class="row justify-content-center">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <%= image_tag "contentle23du8.png", style: "width: 70%; padding: 0.5em" %>
    </div>
    <div class="col-md-6">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: false,
                    required: true,
                    autofocus: true,
                    input_html: { placeholder: "Email", autocomplete: "email" }%>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-6 column">
          <%= f.input :first_name,
                        label: false,
                        required: true,
                        autofocus: true,
                        input_html: { placeholder: "Prénom", autocomplete: "first-name" }%>
          </div>
          <div class="col-lg-6 col-sm-6 col-6 column">
          <%= f.input :last_name,
                        label: false,
                        required: true,
                        autofocus: true,
                        input_html: { placeholder: "Nom", autocomplete: "last-name" }%>
          </div>
        </div>
        <%= f.input :password,
                    label: false,
                    required: true,
                    hint: ("#{@minimum_password_length} lettres au minimum" if @minimum_password_length),
                    input_html: { placeholder: "Mot de passe", autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    label: false,
                    required: true,
                    input_html: { placeholder: "Confirmation du mot de passe", autocomplete: "new-password" } %>
      </div>


      <div class="form-actions">
        <%= button_tag type: 'submit', class: "btn btn-rounded" do %>Créer mon compte<% end %>
      </div>
    <% end %>
      <div class="form-margin">
        <%= render "devise/shared/links" %>
      </div>

    </div>
  </div>
</div>
