
<div class="container form-container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
    <h2 style="text-align:center;">S'inscrire</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email, label: "E-mail",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-6 column">
          <%= f.input :first_name, label: "Prénom",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "first-name" }%>
          </div>
          <div class="col-lg-6 col-sm-6 col-6 column">
          <%= f.input :last_name, label: "Nom",
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "last-name" }%>
          </div>
        </div>
        <%= f.input :password, label: "Mot de passe",
                    required: true,
                    hint: ("#{@minimum_password_length} lettres au minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: "Confirmation du mot de passe",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= button_tag type: 'submit', class: "btn btn-rounded" do %>Créer mon compte<% end %>
      </div>
    <% end %>
    <div class="devise-margin">
      <%= render "devise/shared/links" %>
    </div>

    </div>
  </div>
</div>
