<h1 class="text-center"><%= pluralize(@posts.count, "Resultat") %></h1>
<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>

<%= render 'search/form'%>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
    <th><%= sort_link(@query, :title, "Title", default_order: :asc) %></th>
    <th><%= sort_link(@query, :content, "Content") %></th>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.content %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
