<nav class="navbar bg-body-tertiary fixed-top navbar-background">
  <div class="container-fluid">
    <div class="d-flex align-items-end">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "content.png" %>
      <% end %>
    </div>
    <button class="btn-switch ms-auto me-2" data-controller="theme-toggle" data-action="click->theme-toggle#toggleTheme" data-target="theme-toggle.btnSwitch">
      <i class="fa-regular fa-sun fa-lg" data-theme="light"></i>
      <i class="fa-regular fa-moon fa-lg" data-theme="dark"></i>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end navbar-nav" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Votre rôle : </h5>
        <% if user_signed_in? %>
        <h5 class="me-5"><%= current_user.role %></h5>
        <% end %>
      </div>
      <hr>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "Modifier vos informations", "/profile", class: "btn btn-flat" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", "/vip", class: "btn btn-flat" if current_user.vip? %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-flat" do %>
              Se déconnecter
              <i class="fa-solid fa-right-from-bracket fa-lg"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
