<div class="navbar navbar-expand-sm navbar-light navbar-backbround">
  <div class="container-fluid">
    <div class="d-flex align-items-end">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "content.png" %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Page d'accueil", "/", class: "btn btn-flat btn-login" %>
            </li>
            <li class="nav-item">
              <%= link_to "Réunion", "/meetings", class: "btn btn-flat btn-login" %>
            </li>
            <li class="nav-item">
              <%= link_to "Nouvelle Réunion", "/meetings/new", class: "btn btn-flat btn-login" if current_user.vip? %>
            </li>
            <li class="nav-item">
              <%= link_to "Devis", "/quotes", class: "btn btn-flat btn-login" %>
            </li>
            <li class="nav-item">
              <%= link_to "Nouveau Devis", "/quotes/new", class: "btn btn-flat btn-login" if current_user.vip?%>
            </li>
            <li class="nav-item">
              <%= link_to "Profil", "/profile", class: "btn btn-flat btn-login" %>
            </li>
            <li class="nav-item">
              <%= link_to "Dashboard", "/vip", class: "btn btn-flat btn-login" if current_user.vip? %>
            </li>
            <li class="nav-item">
              <%= link_to "Admin", "/admin", class: "btn btn-flat btn-login" if current_user.admin? %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-flat btn-login" do %>
                Se déconnecter <svg viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                    <circle cx="12" cy="9" r="3" stroke="#ffffff" stroke-width="1.5"></circle>
                    <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                    <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#1C274C" stroke-width="1.5" stroke-linecap="round"></path>
                  </g>
                </svg>
                <% end %>
              </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
