<nav class="navbar bg-body-tertiary fixed-top navbar-background ">
  <div class="container-fluid">
    <div class="d-flex align-items-end flex-grow-1">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "content.png" %>
      <% end %>
    </div>
    <%= render 'search/form' %>
    <button class="btn-switch ms-auto me-2" data-controller="theme-toggle" data-action="click->theme-toggle#toggleTheme" data-target="theme-toggle.btnSwitch">
      <i class="fa-regular fa-sun fa-lg" data-theme="light"></i>
      <i class="fa-regular fa-moon fa-lg" data-theme="dark"></i>
    </button>
    <% if user_signed_in? %>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end navbar-nav" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-header">
        <% if user_signed_in? %>
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="display: inline;">
            <strong>Votre rôle :</strong>
            <% case current_user.role %>
              <% when "admin" %>
                Super administrateur
              <% when "vip" %>
                Administrateur
              <% else %>
                Utilisateur
            <% end %>
          </h5>
        <% end %>
      </div>
      <hr>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <%= link_to "/profile", class: "btn btn-flat" do %>
              <i class="fa-solid fa-user fa-lg me-2"></i>
              Modifier mon profil
            <% end %>
          </li>
          <li class="nav-item">
              <% if current_user.admin? %>
                <%= link_to "/admin", class: "btn btn-flat" do %>
                  <i class="fa-solid fa-gear fa-lg me-2"></i>
                  SuperAdministration
                <% end %>
              <% elsif current_user.vip? %>
                <%= link_to "/vip", class: "btn btn-flat" do %>
                  <i class="fa-solid fa-gears fa-lg me-2"></i>
                  Administration
                <% end %>
            <% end %>
          </li>
          <hr>
          <li class="nav-item mt-5">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-flat" do %>
              <i class="fa-solid fa-right-from-bracket fa-lg me-2"></i>
              Se déconnecter
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
      <%= link_to new_user_session_path, class: "nav-link btn btn-flat" do %>
      <i class="fa-solid fa-right-to-bracket fa-lg"></i>
      Se connecter
    <% end %>
  <% end %>
  </div>
</nav>
<nav>

      <%= render "shared/second_navbar" %>
