<div class="navbar navbar-expand-sm navbar-light navbar-backbround">
  <div class="container-fluid">
    <div class="d-flex align-items-end">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "content.png" %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Page d'accueil", "/", class: "btn btn-flat btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Réunion", "/meetings", class: "btn btn-flat btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nouvelle Réunion", "/meetings/new", class: "btn btn-flat btn-login" if current_user.vip? %>
          </li>
          <li class="nav-item">
            <%= link_to "Devis", "/quotes", class: "btn btn-flat btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Nouveau Devis", "/quotes/new", class: "btn btn-flat btn-login" if current_user.vip?%>
          </li>
          <li class="nav-item">
            <%= link_to "Profil", "/profile", class: "btn btn-flat btn-login" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", "/vip", class: "btn btn-flat btn-login" if current_user.vip? %>
          </li>
          <li class="nav-item">
            <%= link_to "Admin", "/admin", class: "btn btn-flat btn-login" if current_user.admin? %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <li class="nav-item">
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-flat btn-login" %>
            </li>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
        <button class="btn-switch" data-controller="theme-toggle" data-action="click->theme-toggle#toggleTheme" data-target="theme-toggle.btnSwitch"><i class="fa fa-bars"></i></button>
      </ul>
    </div>
  </div>
</div>
