<div class="container-second-navbar mt-2 d-flex justify-content-center align-items-center flex-wrap p-2">
  <%= link_to "/", class: "btn btn-flat mx-2" do %>
    <i class="fa-solid fa-house fa-sm"></i>
  <% end %>
  <%= link_to "/meetings", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-calendar-days fa-sm"></i>
    Réunions
  <% end %>
  <%= link_to "/quotes", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-file-invoice fa-sm"></i>
    Devis
  <% end %>
  <%= link_to "/announcements", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-megaphone fa-sm"></i>
    Annonces
  <% end %>
  <%= link_to "/posts/new", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-bullhorn fa-sm"></i>
    Publier une annonce
  <% end %>
  <%= link_to "/posts", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-newspaper fa-sm"></i>
    Articles
  <% end %>
  <%= link_to "/publish-article", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-pencil fa-sm"></i>
    Publier un article
  <% end %>
  <%= link_to "/vip", class: "btn btn-flat mx-2 my-2" do %>
    <i class="fa-solid fa-cogs fa-sm"></i>
    Administration
  <% end %>
</div>
<hr class="dash">
