<div class="container">
  <div class="card">
    <h5 class="card-header">Mes informations personnelles :</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <div>
            <p><strong><i class="fa-solid fa-envelope fa-lg me-2"></i> E-mail :</strong>  <%= @user.email %></p>
            <p><strong>Prénom :</strong> <%= @user.first_name %></p>
            <p><strong>Nom :</strong> <%= @user.last_name %></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center h-100">
            <%= link_to "Modifier", edit_user_registration_path, class: "btn btn-flat btn-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Informations sur votre logement :</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <div>
            <% if @user_flat.present? %>
              <p><strong><i class="fa-solid fa-building fa-lg me-2"></i> Étage :  </strong>  <%= @user_flat.floor %></p>
              <p><strong><i class="fa-solid fa-ruler fa-lg me-2"></i>Surface :  </strong>  <%= @user_flat.surface %></p>
              <p><strong><i class="fa-solid fa-tag fa-lg"></i> Numéro de lot : </strong>  <%= @user_flat.lot %></p>
            <% else %>
              <p>L'utilisateur n'a pas encore de logement associé.</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center h-100">
            <%= link_to "Modifier", edit_flat_path(@user_flat), class: "btn btn-flat btn-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Contacter votre syndic :</h5>
    <div class="card-body">
      <p><i class="fa-solid fa-shop fa-lg"></i> <%= @syndic.name %></p>
      <p><strong><i class="fa-solid fa-location-dot fa-lg"></i></strong> Adresse : <%= @syndic.address %></p>
      <p><strong><i class="fa-solid fa-phone fa-lg"></i></strong> Téléphone : <%= @syndic.phone %></p>
      <p><strong><i class="fa-solid fa-envelope fa-lg me-2"></i> E-mail :</strong> <a href="mailto:<%= @syndic.email %>"><%= @syndic.email %></a>
      <hr>
      <p><strong>Description : </strong><%= @syndic.description %></p>
    </div>
  </div>
</div>
</div>
