<div class="container">
  <div class="card">
    <h5 class="card-header">Informations personnelles :</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <div>
            <p>Prénom : <%= @user.first_name %></p>
            <p>Nom : <%= @user.last_name %></p>
            <p>E-mail : <%= @user.email %></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center h-100">
            <%= link_to "Modifier", edit_user_registration_path, class: "btn btn-flat btn-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Informations sur votre logement :</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <div>
            <% if @user_flat.present? %>
              <p>Étage : <%= @user_flat.floor %></p>
              <p>Surface : <%= @user_flat.surface %></p>
              <p>Numéro de lot : <%= @user_flat.lot %></p>
            <% else %>
              <p>L'utilisateur n'a pas encore de logement associé.</p>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center h-100">
            <%= link_to "Modifier", edit_flat_path(@user_flat), class: "btn btn-flat btn-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header">Contacter votre syndic :</h5>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-sm-6 ">
          <div>
            <p><%= @syndic.name %></p>
            <p>Description : <%= @syndic.description %></p>
            <p>Adresse : <%= @syndic.address %></p>
            <p>Téléphone : <%= @syndic.phone %></p>
            <p>E-mail : <%= @syndic.email %></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="d-flex align-items-center justify-content-center h-100">
          </div>
        </div>
      </div>
    </div>
  </div>
