<div class="form-container">
  <%= simple_form_for @post do |f| %>
    <div class="field">
      <%= f.input :title %>
    </div>

    <div class="field">
      <%= f.input :content, as: :rich_text_area, label: false, placeholder: 'Écrivez votre texte' %>
    </div>
    <div>
      <%= f.select :category, Post.categories.keys %>
    </div>

    <%= f.submit "Créer le Post", class: "btn btn-flat my-3" %>
  <% end %>
</div>
