<div class="container">
  <div class="row d-flex">
    <div class="col-md-12 mb-12 card-view ">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <h1 class= "text-center my-3"><%= @post.title  %></h1>
            <hr>
            <h5 class= "text-start">Par <em><%= @post.user.first_name %> <%= @post.user.last_name %><em>. Publié le <em><%= @post.created_at.strftime("%d/%m/%Y")%>. Catégorie : <%= @post.category %></em></h5>
          </div>
        </div>
          <div class="card-body">
            <p class="card-text"><%= @post.content %></p>
          </div>
        <div class="card-end">
          <p class="text-muted"><%= link_to "Retour à la liste des posts", posts_path %></p>
            <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %><i class="fa-solid fa-trash fa-lg circle-icon-delete mx-1" style="color: #e7081f;"></i><% end %>
            <%= link_to edit_post_path(@post) do %><i class="fa-solid fa-edit fa-lg circle-icon-edit mx-1" style="color: #fd7e14;"></i><% end %>
        </div>
      </div>
    </div>
  </div>
      <hr class="dash my-5">
    <div class="row d-flex">
      <h4 class="ms-5">Commentaires <%= @post.commentaries.count %></h4>
      <% if @post.commentaries.empty? %>
        <small><em class="text-muted ms-5">Soyez le premier à commenter cet article</em></small>
      <% end %>
      <% @post.commentaries.each do |commentary| %>
        <div>
          <small><em class="text-muted"><%= commentary.user.first_name %></em></small>
          <small><em class="text-muted">il y a <%= distance_of_time_in_words_to_now(commentary.created_at) %></em></small>
          <p class="mb-0"><%= commentary.content %></p>
            <div class="d-flex justify-content-end">

              <%= link_to [@post, commentary], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %><i class="fa-solid fa-trash fa-lg circle-icon-delete mx-1" style="color: #e7081f;"></i><% end %>
              <%= link_to edit_post_commentary_path(@post, commentary) do %><i class="fa-solid fa-edit fa-lg circle-icon-edit mx-1" style="color: #fd7e14;"></i><% end %>
            </div>

        </div>
        <hr class="my-3">
      <% end %>
    </div>
  <div class="container">
<%= render 'commentaries/form', post: @post %>
  </div>
</div>
